<%= notice %>

<%= nested_form_for @user do |f| %>

  <% @user.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>

  <h3>User</h3>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <hr>

  <h3>Assets</h3>

	<%= f.fields_for :assets_first_type do |ff| %>
    <%= ff.label :value, 'Asset value:' %>
    <br>
    <%= ff.text_field :value %>
  <% end %>
  <p><%= f.link_to_add "Add asset of type 1", :assets_first_type %></p>

  <br><br>

  <%= f.fields_for :assets_second_type do |ff| %>
    <%= ff.label :value, 'Asset value:' %>
    <br>
    <%= ff.text_field :value %>
  <% end %>
  <p><%= f.link_to_add "Add asset of type 2", :assets_second_type %></p>

  <br><br>

  <%= f.fields_for :assets_third_type do |ff| %>
    <%= ff.label :value, 'Asset value:' %>
    <br>
    <%= ff.text_field :value %>
  <% end %>
  <p><%= f.link_to_add "Add asset of type 3", :assets_third_type %></p>

  <hr>

  <%= f.submit %>

<% end %>